<h1 style="margin-top: 2rem; margin-bottom: 2rem;">Admin&rsquo;s  Dashboard</h1>

<div class="shadow p-3 mb-5 bg-body rounded">Products quantity: <%= @product_count %></div>
<div class="shadow p-3 mb-5 bg-body rounded">Categories quantity: <%= @category_count.count %></div>